.box1{
    width: 45%;
    margin: auto;
}

.box1.box1_1{
    width: 45%;
    margin: auto;
}
.box1_1 img{
    width: 100%;
}

.row{
    display:flex ;
    flex-wrap: wrap;
}
.box2{
    width: 30%;
    margin: auto;
    background-color: aliceblue;
}
.box3_3{
    width: 45%;
    margin: auto;
}
.box4{
    width: 30%;
    background-color: rgb(136, 88, 181);
}
.box44{
    width: 70%;
    background-color: rgb(149, 107, 188);
}
.box44.box4_1{
    width: 45%;
    margin: auto;
}

.box4_1.img{
    width: 30%;

}


